{% extends "base.html" %}

{% block cur_user %}
    {% include "cur_user.html" %}
{% endblock %}

{% block main %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">免责声明</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <form class="form-inline" style="display: none" role="form" id="accept" action="/disclaimers" method="post">
          <div class="form-group">
              <input type="text" class="form-control" id="accept" name="accept" value="True">
          </div>
        </form>
        <button type="submit" form="accept" class="btn btn-sm btn-outline-secondary">同意并继续使用</button>
      </div>
    </div>	
  </div>
  
  <h2>使用此网站，则视为您同意以下内容</h2>
  <p>1. 我们将存储您的token(可用于登录鹰角网络官网，但不可登录游戏)并明文保存在数据库中。</p>
  <p>2. 我们将保存您的账号名，uid，抽卡记录，源石记录，礼包兑换记录，充值记录。</p>
  <p>3. 我们不会将您的数据传递给其他个人或组织。</p>

{% endblock %}